@mainHeight: 300px;
@mainWidth: 1200px;
@tileSize: 200px;

.wall {
	display: block;
	position: absolute;
	top: ((@mainHeight - @tileSize) / 2);
	left: ((@mainWidth - @tileSize) / 2);
	width: @tileSize;
	height: @tileSize;
	background: url(../img/Seamless_Brick_Wall_Texture_by_cfrevoir.jpg);
	// transform: rotateY(90deg) translateZ(50px);

	border: none;
	line-height: 100px;
	font-family: arial, sans-serif;
	font-size: 60px;
	color: white;
	text-align: center;
}
.wall:nth-child(1) {
	transform: translateX(-100px) translateZ(-100px) rotateY(90deg);
}
.wall:nth-child(2) {
	transform: translateX(100px) translateZ(-100px) rotateY(-90deg);
}
.wall:nth-child(3) {
	transform: translateX(200px);
}
#maze {
	position: relative;
	height: @mainHeight;
	width: @mainWidth;
	perspective: 250px;
	transform-style: preserve-3d;
	background: gray;
	// margin: 75px 0 0 75px;
	* {
		transform-style: preserve-3d;
	}
	> article {
		transform: rotateX(20deg);
	}
}

body, html {
	margin: 0;
	padding: 0;
}