.wall {
	display: block;
	position: absolute;
	top: 150px;
	left: 150px;
	width: 200px;
	height: 200px;
	background: url(../img/Seamless_Brick_Wall_Texture_by_cfrevoir.jpg);
	// transform: rotateY(90deg) translateZ(50px);

	border: none;
	line-height: 100px;
	font-family: arial, sans-serif;
	font-size: 60px;
	color: white;
	text-align: center;
}
.wall:nth-child(1) {
	transform: translateX(-100px) translateZ(-100px) rotateY(90deg);
}
.wall:nth-child(2) {
	transform: translateX(100px) translateZ(-100px) rotateY(-90deg);
}
.wall:nth-child(3) {
	transform: translateX(200px);
}
#maze {
	position: relative;
	height: 500px;
	width: 500px;
	perspective: 250px;
	transform-style: preserve-3d;
	background: gray;
	margin: 75px 0 0 75px;
	* {
		transform-style: preserve-3d;
	}
	> article {
		transform: rotateX(20deg);
	}
}



.container {
	// width: 200px;
	// height: 200px;
	margin: 75px 0 0 75px;
	border: none;
	.cube {
		// width: 100%;
		// height: 100%;
		width: 200px;
		height: 200px;
		perspective: 250px;
		transform-style: preserve-3d;
		perspective-origin: 70% 70%;
		> div {
			display: block;
			position: absolute;
			width: 100px;
			height: 100px;
			border: none;
			line-height: 100px;
			font-family: arial, sans-serif;
			font-size: 60px;
			color: white;
			text-align: center;
		}
		.middle {
			background: transparent;
			border: 1px dashed black;
		}
		.front {
			background: rgba(   0,   0,   0, 0.3 );
			transform: translateZ( 50px );
		}
		.back {
			background: rgba(   0, 255,   0, 1   );
			transform: translateZ( -50px );
		}
		.right {
			background: rgba( 196,   0,   0, 0.7 );
			transform: rotateY( 90deg) translateZ( 50px );
		}
		.left {
			background: rgba(   0,   0, 196, 0.7 );
			transform: rotateY(-90deg) translateZ( 50px );
		}
		.top {
			background: rgba( 196, 196,   0, 0.7 );
			transform: rotateX( 90deg) translateZ( 50px );
		}
		.bottom {
			background: rgba( 196,   0, 196, 0.7 );
			transform: rotateX(-90deg) translateZ( 50px );
		}
	}
}

