@mainHeight: 700px;
@mainWidth: 1200px;
@tileSize: 200px;
@ts2: @tileSize / 2;

.wall {
	display: block;
	position: absolute;
	top: ((@mainHeight - @tileSize) / 2);
	left: ((@mainWidth - @tileSize) / 2);
	width: @tileSize;
	// width: 5px;
	height: @tileSize;
	// background: url(../img/Seamless_Brick_Wall_Texture_by_cfrevoir.jpg);
	background: url(../img/dev_measurewall01a1.jpg);
	// transform: rotateY(90deg) translateZ(50px);

	border: none;
	line-height: @tileSize;
	font-family: arial, sans-serif;
	font-size: @tileSize/4;
	color: white;
	text-align: center;
}
/*
.wall:nth-child(1) {
	transform: translateX(-@ts2) translateZ(-@ts2) rotateY(90deg);
}
.wall:nth-child(2) {
	transform: translateX(@ts2) translateZ(-@ts2) rotateY(-90deg);
}
.wall:nth-child(3) {
	transform: translateX(@ts2*2);
}
.wall:nth-child(4) {
	transform: translateX(-@ts2) translateZ(-@ts2 * 3) rotateY(90deg);
}
.wall:nth-child(5) {
	transform: translateX(-@ts2*2);
}
.wall:nth-child(6) {
	transform: translateZ(-@ts2 * 4);
}
.wall:nth-child(7) {
	transform: translateZ(-@ts2 * 4) translateX(@ts2*2);
}
*/
#geometry {
	// @persp: 90deg
	@persp: 45deg;
	@rotate: 45deg; // 0deg
	transform: rotateX(@persp) rotateZ(@rotate);
}
#camera, #geometry {
	transition: transform 2s;
	width: 100%;
	height: 100%;
}
#viewport {
	position: relative;
	height: @mainHeight;
	width: @mainWidth;
	perspective: 500px;
	transform-style: preserve-3d;
	background: rgba(100,100,100,0.5);
	// margin: 75px 0 0 75px;
	* {
		transform-style: preserve-3d;
	}
}

body, html {
	margin: 0;
	padding: 0;
}